.UFO {
    animation-duration: 7s;
    animation-name: slidein;
    position: absolute;
    z-index: 100;
    opacity: 0;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 25%;
        opacity: 1;
    }

    to {
        margin-left: -25%;
        width: 5%;
        opacity: 0.5;
    }

}
