.createButton {
    margin-top: 4em;
    background-color: #282582 !important;
    border: none !important;
}

.postTitle {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
}

.card {
}

.createTransmission {
    background-color: #282582 !important;
    border: none !important;
}